body,td{
    background-color: grey;
    color: black;
    font-family: 'Open Sans', sans-serif;
}   
.dark-mode{
    background-color: black;
    color: white;
    
}
  
.contact{
    overflow: hidden;
    color: white;
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
p{
    margin-left: 20px;
}
h1{
    margin-left: 20px;
    text-align: center;
}
h3{
    margin-left: 70px;
}
#mark{
    list-style: none;
}
  
ul #markli:before {
    content: '✓';
    margin-right:5px;
}
a:link{
    color: green;
}
a:visited{
    color: red;
}
a:hover{
    color: blue;
}
a:active{
    color: pink;
}
/* td{
    
    border-color: black;
    border-style: solid;
} */
